<section id="course_index_page" class="container">
	<section class="new_courses">
		<a href="/course/new">
			new course <i class="material-icons">add_circle</i>
		</a>
	</section>
	<section class="active_courses">
		<h2>Active Courses <i class="material-icons">help</i></h2>
		<table>
            <tr>
                <th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
            {{#current_portfolios}}
			<tr>
				<td>{{ course_name }}</td>
				<td>{{ term_name }}</td>
				<td>{{ year }}</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/{{section}}">edit <i class="material-icons">edit</i></a></td>
			</tr>
            {{/current_portfolios}}
		</table>
	</section>
	<section class="archived_courses">
		<h2>Archived Courses</h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
            </tr>
            
            {{#old_portfolios}}
			<tr>
				<td>{{ course_name }}</td>
				<td>{{ term_name }}</td>
				<td>{{ year }}</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
			</tr>
            {{/old_portfolios}}
		</table>
	</section>
</section>